@font-face {
    font-family: "Barlow-500";
    src: url("/assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow-600";
    src: url('/assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf') format("truetype");
}
