* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.375rem;

    background-color: $light-grayish-blue;

    font-family: "Barlow-500";
    font-size: $font-s;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    margin-bottom: 2rem;

    @include breakpoints-up(xl) {
        
    }
}